// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div-new {
  background-color: #e5eff8;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.nav1 {
  margin-right: 150px;
  font-size: 1rem;
}

.extend {
  width: 300px;
}

.btn-space {
  margin-top: 30px;
}
